/******* RESET *******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #01020b;
    color: #07f7ee;
    font-family: 'Roboto', sans-serif;
}

/********** COMMON *********/

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

button, img {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.row {
    display: flex;
    align-items: center;
}

/********** Header ***********/

header > .container {
    justify-content: space-between;
    animation: headerFadein 1.2s linear forwards;
}

@keyframes headerFadein {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

header h1 {
    font-size: 1.4rem;
}

header ul li {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

/********* MAIN **********/

main {
    height: calc(100vh - 59px);
    justify-content: center;
}

main > .container {
    justify-content: space-between;
}

.ctn-left,
.ctn-right {
    height: 500px;
}

.ctn-left {
    width: 68%;
    opacity: 0;
    animation: ctnLeftFadeIn 1s linear 1s forwards;
}

@keyframes ctnLeftFadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


.ctn-left .img-ctn {
    display: none;
}

.ctn-left .show {
    display: block;
}

.ctn-right {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    opacity: 0;
    animation: ctnRightFadeIn 1s linear 1s forwards;
}

@keyframes ctnRightFadeIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


.img-ctn {
    width: 100%;
    height: 100%;
}

.ctn-right  .img-ctn {
    opacity: 0.3;
}

.ctn-left > .img-ctn > img,
.ctn-right > .img-ctn > img  {
    object-fit: cover;
}


.ctn-left > .img-ctn > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-position: bottom left;
}

.ctn-right > .img-ctn > img {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    object-position: 20% 80%;
}

.btn-up,
.btn-down {
    position: absolute;
    background-color: darkcyan;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.btn-up{
    top: -8%;
    transition: top .40s;
}

.btn-up::after {
    content: "\21E7";
}

.btn-down {
    bottom: -6%;
    transition: bottom .40s;
}

.btn-down::after {
    content: "\21E9";
}

.btn-up::after,
.btn-down::after {
    color: #01020b;
    font-size: 2rem;
    font-weight: bold;
}

.btn-up:hover {
    top: -13%;
}

.btn-down:hover {
    bottom: -12%;
}

.ctn-right .clear {
    opacity: 1;
}
